/* @tailwind base;  */
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
  src: local('Roboto'), url(./fonts/Roboto-Regular.ttf) format('ttf');
}

body {
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    helvetica neue, Arial, noto sans, sans-serif, apple color emoji,
    segoe ui emoji, segoe ui symbol, noto color emoji;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.ant-dropdown-menu {
  min-width: 250px;
}

@media screen and (min-width: 1224px) {
  .ant-dropdown-menu {
    min-width: unset;
  }
}

@media screen and (max-width: 550px) {
  .ant-picker-panels {
    flex-direction: column;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 10px;
  background: #adafb3;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #034199;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4096ff;
}
